#catch {
    background-color: #a5a2a2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

#catch .is-rounded {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 96px;
    align-items: end;
    justify-items: center;
    background-image: url("../Catch/Background.png");
}

#catch button {
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    align-self:end;
}

#catch .is-rounded .pokemon {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
}

#catch .is-rounded .trainer {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    width: 140px;
}