#catch {
    background-color: #a5a2a2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
}

#catch h2 {
    color: black;
    text-align: center;
    grid-column: 2 / 5;
}